
body {
  font-family : "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
  font-size   : 100.0%;
}

.high-symbol  {
  font-family : courier;
  font-weight : bold;
  color       : blue;
}

.highlight  {
  font-weight : bold;
  font-style  : italic;
  color       : blue;
}

.tt-symbol  {
  font-family : courier;
}

.font-file  {
  font-family : courier;
}

.navbar {
  font-family : "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size   : 90%;
  font-style  : italic;
  font-weight : bold;
  text-align  : left;
  color       : blue;
  background-color : lightgray;
#  width            : 100%;
  margin-top      : 4px;
  padding-left    : 8px;
  padding-right   : 8px;
  padding-top     : 0px;
  padding-bottom  : 0px;
  border          : 0px none transparent;
  box-shadow      : 3px 3px 3px #888888;
}


.table-blue {
  font-family     : "Trebuchet MS", Arial, Helvetica, sans-serif;
#  width           : 100%;
  border-collapse : collapse;
  box-shadow      : 5px 5px 6px #888888;
  margin-bottom   : 9px;
}
.table-blue td, .table-blue th {
  font-size       : 0.9em;
  border          : 1px solid #488090;
  padding         : 3px 7px 2px 7px;
}
.table-blue td {
  vertical-align  : text-top;
  text-align      : left;
}
.table-blue th {
  font-size       : 0.9em;
  font-style      : italic;
  text-align      : center;
  white-space     : nowrap;
  padding-top     : 5px;
  padding-bottom  : 4px;
  background-color: #5d9bd0;
  color           : #ffffff;
}
.table-blue tr.alt td {
  color           : #000000;
  background-color: #EAF2D3;
}

.ul-disc   { list-style-type: disc;   }
.ul-circle { list-style-type: circle; }
.ul-square { list-style-type: square; }

.code-box {
  font-family     : courier;
#  width           : 100%;
  padding-left    : 10px;
  padding-right   : 10px;
  padding-top     : 10px;
  padding-bottom  : 10px;
#  border-collapse : collapse;
  box-shadow      : 5px 5px 6px #888888;
  margin-bottom   : 9px;
  border          : 1px solid black;
  background-color: PaleGoldenrod;
}

.table-compact {
#  font-family     : "Trebuchet MS", Arial, Helvetica, sans-serif;
#  width           : 100%;
  border-collapse  : collapse;
  border           : none;
#  border          : 1px solid black;
#  box-shadow      : 5px 5px 6px #888888;
#  margin-bottom    : 0px;
#  margin-top       : 0px;
  padding-bottom   : 0px;
  padding-top      : 0px;
}
.table-compact td, .table-compact th {
  font-size        : 0.9em;
  border-collapse  : collapse;
  border           : none;
#  vertical-align   : text-top;
#  border          : 1px solid #488090;
  padding         : 0px 0px 0px 0px;
}
